footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: auto;
}

footer>p {
    margin: 20px 0
}

html,
body {
    height: 100%;
    padding: 0;
}

.container {
    min-height: 100% !important;
    display: flex !important;
    flex-direction: column !important;
}